body {
    background: rgba(139, 226, 197, 0.815);
    font: 15pt Times;
    
}

header {
    color:rgb(56, 54, 54);
    text-align: center;

}
section {
    background: rgb(248, 245, 229);
    border-radius: 10px; /* para ficar com as bordas arredondas, raio da borda*/
    padding: 15px; /* para darespaço dentro da borda*/
    width: 500px; /*largura fixa*/
    margin: auto; /*centralizar */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363); /*sombreado*/

}
footer {
     color:rgb(56, 54, 54);
     text-align: center;
     font-style: italic;


}